.calendar {
  position: relative;
  padding: 20px;
}

.calendar h2 {
  margin-bottom: 16px;
  cursor: default;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.calendar-day {
  position: relative;
  border: 1px solid #ddd;
  background-color: #d3d3d3fb;
  min-height: 100px;
  min-width: 160px;
  padding: 5px;
  font-size: 14px;
  transition: 0.5s;
}
.calendar-day:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
}

.day-number {
  font-weight: bold;
  color: black;
}

.task {
  background-color: #4f46e5;
  color: white;
  padding: 4px;
  margin-top: 4px;
  border-radius: 4px;
  font-size: 12px;
}

.passed {
  opacity: 0.5;
}
.calendar-day.today .day-number {
  border: 1px solid black;
  padding: 2px;
}

.more-tasks {
  position: absolute;
  top: 0;
  right: 0;
  background-color: yellow;
  padding: 2px;
  margin: 3px 3px 0px 0px;
  color: black;
  border-radius: 50%;
}

.done {
  text-decoration: line-through;
  opacity: 0.4;
}
.add-btn {
  position: fixed;
  bottom: 100px;
  right: 500px;
  width: 56px;
  height: 56px;
  padding: 0;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.add-btn:hover {
  background-color: #45a049;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.1);
}

.add-btn:active {
  background-color: #3d8b40;
  transform: scale(0.95);
}
