.taskDetail {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #4f46e5;
  color: white;
}
.taskDetail p {
  border-bottom: 1px solid black;
}
.taskDetail button {
  margin: 5px;
  border-radius: 10px;
}
