.taskDetail {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #4f46e5;
  color: white;
  transition: 0.7s;
}
.taskDetail p {
  border-bottom: 1px solid black;
}
.taskDetail button {
  margin: 5px;
  border-radius: 10px;
}
.modal-title {
  text-align: center;
}
.delete {
  background-color: #dc2626;
}
.taskDetail.done {
  background-color: green;
  opacity: 1;
  text-decoration: none;
  transition: 0.7s;
}
